<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

var map;
var positions = [

    {% for p in places %}
        { lat: {{ p.lat }}, lng: {{ p.lng }} },
    {% endfor %}
];
var titles = [

    {% for p in places %}
        "{{ p.name }}" ,
    {% endfor %}
];
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 13.762572, lng: 100.565094},
    zoom: 15
  });
  addMarker(map);
}

// Adds a marker to the map.
var marker = [];
var label = [];
var infowindow = [];
function addMarker(map) {
  // Add the marker at the clicked location, and add the next-available label
  // from the array of alphabetical characters.

  for(var i=0;i<positions.length;i++)
  {
      /*
      marker[i] = new google.maps.Circle({
			strokeColor: '#FF0000',
      		strokeOpacity: 0.8,
      		strokeWeight: 2,
      		fillColor: '#FF0000',
      		fillOpacity: 0.35,
      		map: map,
      		center: positions[i],
      		radius: 25,
          label: 'a'
      });*/
      marker[i] = new google.maps.Marker({
        position: positions[i],
        map: map,
        title: titles[i]
    });
  }
}






    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9RDsFBy2tE2PXnx9ecqCxN7mBXMsuHCE&callback=initMap">
    </script>
  </body>
</html>